/* src/Spinner.css */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.1); /* Light border */
    border-top: 3px solid #3498db; /* Blue color on top */
    border-radius: 50%;
    animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  